numpy==1.24.1
hypermapper==2.3.0
matplotlib==3.8.0
mitiq==0.29.0
qiskit==0.44.1
qiskit_aer==0.12.2
qiskit_experiments==0.5.3
qiskit_nature==0.6.2
qiskit-nature-pyscf
qiskit_terra==0.25.1
scikit_quant==0.8.2
stim==1.12.0